.css-classes {
    background-color: lightblue;
}

.css-classes {
    border-color: navy;
}

.css-classes {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.css-classes {
    border-style: solid;
    border-width: 10px
}

.background2{
    border-style: dashed;
}

.background2{
    font-style: center;
}